<div class="items-section d-flex flex-column justify-content-between mt-5">
  <div class="container">
    <div class="row align-items-start">
      <div class="col-8">
        <% ItemsDecorator.group(@items) do |item, count| %>
          <%= render 'item', item: item, count: count %>
        <% end %>
      </div>
      <div class="col-4">
        <%= render 'order' %>
      </div>
    </div>
  </div>
</div>