<turbo-frame id="current_orders">
  <% if @orders.present? %>
    <% @orders.each do |order| %>
      <%= render 'orders/show', order: order %>
    <% end %>
  <% else %>
    <div class="text-center mt-3">
      <%= image_pack_tag 'zero-orders-2.svg', width: 300, height: 300 %>
    </div>
  <% end %>
</turbo-frame>