.item {
  width: 165px;
  margin: 10px 5px;
}

.item__image_container {
  height: 165px;
  width: 165px;
  background-color: #f2f2f2;
  overflow: hidden;
}

.item__image_container_small { 
  @extend .item__image_container;
  max-height: 85px;
  max-width: 85px;
  margin-right: 10px;
}

.item__image {
  width: 100%;
  height: 100%;
}

.item__content {
  font-weight: 700;
  color: #363636;
  overflow: hidden;
  height: 40px;
  text-overflow: ellipsis;
}

.item__meta {
  font-weight: 500;
  color: #919191a6;
}

.item__add_btn {
  border: none;
  background-color: #f2f2f2;
  color: #0d6efd;
}

.item__add_btn:hover {
  background-color: rgb(229, 229, 229);
  color: #0d6efd;
}

.item__add_btn_left {
  @extend .item__add_btn;
  color: #363636;
  border-radius: 15px 0px 0px 15px;
}

.item__add_btn_right {
  @extend .item__add_btn;
  color: #363636;
  border-radius: 0px 15px 15px 0px;
}

.shopping_carts__item {
  padding: 10px 0px;
  border-bottom: 1px solid #919191a6;
}

.item_total__price {
  font-weight: 600;
  color: #363636;
}

.item_total__item__counter_value {
  padding: 0px 10px;
  color: #363636;
  background-color: #f2f2f2;
  cursor: pointer;
}

.remove_item {
  font-weight: 600;
  color: #363636;
}

#remove_items_from_shopping_cart {
  border: 0px;
  background-color: inherit;
  color: #363636;
  font-weight: 600;
}