<div class="mt-4 d-flex justify-content-left">
  <div>
    <%= link_to root_path do %>
      <button class="btn categories_show__back_btn default_border_radius">
        ←
      </button>
    <% end %>
  </div>
  <div>
    <h1 class="title-color">
      <%= @category.capitalize %>
    </h1>
  </div>
</div>
<div class="mt-4">
  <h2 class=title-color">
    Классные цены
  </h2>
</div>
<div class="d-flex justify-content-start mt-4">
  <% @items.first(3).each do |item| %>
    <%= render 'categories/item', item: item %>
  <% end %>
</div>

<%#= pagy_bootstrap_nav(@pagy) %>